@use '@/styles/variables' as *;

.button {
    width: 100%;
    height: 42px;
    border-radius: $borderRadius;
    box-shadow: $elemShadow;
    background-color: transparent;
    color: $white;
    cursor: pointer;
    position: relative;
    padding: 0 20px;

    &:hover {
        &:not(:disabled):not(.loading) {
            opacity: 0.8;
        }
    }

    &:disabled {
        opacity: 0.45;
    }

    &.loading {
        opacity: 0.45;
    }

    &.hasIcon {
        padding-left: 44px;
    }
}

.primary {
    background-color: $colorPrimary;
}

.accent {
    background-color: $accent;
}

.secondary {
    background-color: $colorSecondary;
}

.link {
    height: fit-content;
    width: fit-content;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
    color: $colorPrimary;
    text-decoration: underline;
}

.icon {
    position: absolute;
    width: 30px;
    height: 100%;
    left: 8px;
    top: 0;

    svg {
        width: 22px;
        height: 22px;
        color: $white;
    }
}

.sq,
.sq_error,
.sq_info {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $info;
    padding: 0;

    svg {
        width: 18px;
        height: 18px;
    }
}

.sq_error {
    background-color: $error;
}

.sq_info {
    background-color: $info;
}

.spinnerWrapper {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
}
