@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.leftMenuFooterWrapper {
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    display: flex;
}

.siteEmail {
    @include media(md) {
        display: none;
    }
}
