@use '@/styles/variables' as *;

.fieldLabelWrapper {
    margin-bottom: 6px;
    font-size: 14px;

    &.error {
        color: $accent;
    }

    span {
        margin-left: 4px;
        padding-bottom: 4px;
    }
}
