@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.searchFormWrapper {
    width: fit-content;
    height: auto;
    display: flex;
    align-items: center;
    gap: 0 10px;
    max-width: 240px;

    @include media(md) {
        margin: 0 auto;
    }
}

.input {
    width: calc(100% - 50px);
    height: 35px;

    > * {
        height: 100%;
    }

    input {
        border: $border;
        border-radius: $borderRadius;
        height: 100%;
    }
}

.button {
    border: 1px solid rgba($textColor, 0.5);
    border-radius: $borderRadius;
    width: 40px;
    height: 35px;
    cursor: pointer;
    padding: 0;

    &:hover {
        &:not(:disabled) {
            background-color: $bgColorSecondary;
        }
    }

    &:disabled {
        cursor: default;
    }

    svg {
        width: 20px;
        height: 20px;
        fill: rgba($textColor, 0.5);
        transition: fill 0.3s ease-in-out;
    }
}
