@use '@/styles/variables' as *;

.button {
    width: 100%;
    height: 42px;
    border-radius: $borderRadius;
    cursor: pointer;
    position: relative;

    &:hover {
        opacity: 0.8;
    }

    &:disabled {
        opacity: 0.2;
        cursor: default;
    }
}

.accent {
    background-color: $accent;
    color: $white;
}

.icon {
    position: absolute;
    width: 30px;
    height: 100%;
    left: 8px;
    top: 0;

    svg {
        width: 24px;
        height: 24px;
        color: $white;
    }
}
