@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.leftMenuItemWrapper {
  width: 100%;
  height: 43px;
  position: relative;
  overflow: hidden;

  &:hover {
    a {
      background-color: $accent;
      color: $white;
      text-decoration: none;

      .icon {
        animation: jump 0.5s ease-in-out;

        svg {
          fill: $white;
        }
      }
    }
  }

  &:after {
    content: "";
    position: absolute;
    width: 80%;
    height: 1px;
    left: 10%;
    bottom: 0;
    display: block;
    background-color: $bgColor;
  }

  &:last-child {
    &:after {
      display: none;
    }
  }

  a {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 0 20px 0 60px;
    background-color: transparent;
    text-decoration: unset;
    
    @include media(lg) {
      padding: 0 20px 0 50px;
    }

    &.current {
      background-color: rgb($accent, 0.6);

      &:after {
        display: none;
      }
    }

    .icon {
      width: 60px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      padding-right: 4px;
      
      @include media(lg) {
        width: 45px;
      }

      svg {
        width: 20px;
        height: 20px;
        fill: $color;
      }
    }
  }

  @keyframes jump {
    0% {
      top: 0;
    }
    50% {
      top: -20px;
    }
    100% {
      top: 0;
    }
  }
}
