@use '@/styles/mixins' as *;

.item {
    margin-bottom: 16px;

    &:last-child {
        margin-bottom: 0;
    }
}

.itemTitle {
    margin-bottom: 16px;
    color: var(--white);
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
}

.itemText {
    position: relative;
    padding-left: 40px;
    color: var(--textColor);
    line-height: 22px;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 25px;
        width: 4px;
        height: 100%;
        background-color: var(--accent);
    }

    @include media(sm) {
        font-size: 14px;
        line-height: 18px;
    }
}
