@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.topMenuWrapper {
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    background-color: $bgColor;
    z-index: $zIndexMenu;
}

.scrolled {
    box-shadow: $boxShadow;
}

.mainWrapper {
    height: 100%;
    display: flex;
    overflow: hidden;
    gap: 0 40px;
    
    > * {
        height: 100%;
    }
}

.mr {
    margin-right: auto;
}

.ml {
    margin-left: auto;
}
