{
    "arrowParens": "avoid",
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "printWidth": 80,
    "tabWidth": 4,
    "trailingComma": "all",
    "singleQuote": true,
    "semi": true,
    "importOrder": [
        "^react(.*)$",
        "next(.*)$",
        "@hookform(.*)$",
        "swiper(.*)$",
        "dayjs(.*)$",
        "react-icons(.*)$",
        "@/styles/(.*)$",
        "@/types/(.*)$",
        "@/images/(.*)$",
        "@/api/(.*)$",
        "@/hooks/(.*)$",
        "@/helpers/(.*)$",
        "@/templates/(.*)$",
        "@/layouts/(.*)$",
        "@/app/(.*)$",
        "@/components/(.*)$",
        "@/(.*)$"
    ],
    "importOrderSeparation": false,
    "importOrderSortSpecifiers": false
}
