{
    "arrowParens": "avoid",
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "printWidth": 80,
    "tabWidth": 4,
    "trailingComma": "all",
    "singleQuote": true,
    "semi": true,
    "importOrder": [
        "^react",
        "^swiper",
        "^next",
        "^~/",
        "^@/store/(.*)$",
        "^@/api/(.*)$",
        "^@/styles/(.*)$",
        "^@/images/(.*)$",
        "^@/helpers/(.*)$",
        "^@/layouts/(.*)$",
        "^@/(.*)$"
    ],
    "importOrderSeparation": false,
    "importOrderSortSpecifiers": false
}
