@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.verticalMenuWrapper {
    width: 100%;

    ul {
        width: 100%;
        height: fit-content;
        min-height: fit-content;
        position: relative;
        margin-bottom: 0;
        gap: 6px 0;
    }
}
