@use '@/styles/mixins' as *;

.watermark {
    font-size: 120px;
    line-height: 0.85;
    font-weight: 600;
    color: var(--white);
    opacity: 0.1;
    text-transform: uppercase;
    pointer-events: none;
    user-select: none;
    white-space: nowrap;

    @include media(xxl) {
        font-size: 96px;
    }

    @include media(xl) {
        font-size: 72px;
    }

    @include media(md) {
        font-size: 48px;
    }
}
