@use '@/styles/mixins' as *;

.topFooterWrapper {
    padding: 60px 0;

    @include media(sm) {
        padding: 40px 0;
    }
}

.fullWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: var(--gapBlock);

    @include media(sm) {
        column-gap: var(--gapBlock);
    }
}

.footerCol {
    width: 24%;
    position: relative;

    &:not(.menu) {
        @include media(xl) {
            order: 0;
            width: 49%;
        }

        @include media(sm) {
            order: 1;
            width: 100%;
        }

        @include media(xs) {
            order: 0;
        }
    }

    &#contact {
        scroll-margin-top: 90px;
    }

    &.menu {
        width: 15%;

        @include media(xl) {
            order: 1;
            width: 32%;
        }

        @include media(sm) {
            order: 0;
            font-size: 15px;
            line-height: 20px;
            width: calc((100% - (var(--gapBlock) * 2)) / 3);
        }

        @include media(xs) {
            order: 1;
            width: calc((100% - var(--gapBlock)) / 2);
        }
    }
}

.title {
    color: var(--accent);
    margin-bottom: 16px;
}
