@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.topFooterWrapper {
    padding: 60px 0;
    
    @include media(sm) {
        padding: 40px 0;
    }
}

.fullWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footerCol {
    width: 24%;
    position: relative;

    &:not(.menu) {
        @include media(xl) {
            order: 0;
            width: 49%;
        }

        @include media(sm) {
            order: 1;
            width: 100%;
            margin-bottom: 20px;
        }

        @include media(xs) {
            order: 0;
            margin-bottom: 30px;
        }
    }

    &.menu {
        width: 15%;

        @include media(xl) {
            order: 1;
            width: 32%;
            margin-top: 20px;
        }

        @include media(sm) {
            order: 0;
            margin-bottom: 20px;
            margin-top: 0;
            font-size: 15px;
            line-height: 20px;
            width: 33%;
        }

        @include media(xs) {
            order: 1;
            width: 49%;
        }
    }
}

.title {
    color: $accent;
    margin-bottom: 16px;
}
