.userMenuWrapper {
    width: auto;
    height: auto;
    position: relative;
}

.toggleMenu {
    width: 60px;
    height: 100%;

    &.opened {
        background-color: var(--bgColorDark);
    }

    &:hover {
        &:not(.opened) {
            background-color: rgba(var(--bgColorDark), 0.6);
        }
    }

    span {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        border: var(--border);
    }
}

.menuList {
    width: 220px;
    height: auto;
    position: absolute;
    right: 0;
    top: 59px;
    background-color: var(--bgColorDark);
    padding: 8px 0;
    border-radius: var(--borderRadius) 0 var(--borderRadius) var(--borderRadius);
    box-shadow: var(--boxShadow);
}

.menuItem {
    width: 100%;
    height: 42px;
    background-color: var(--bgColorDark);
    padding: 0 16px;

    &:hover {
        background-color: rgba(var(--bgColor), 0.6);
    }

    button,
    a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 0 10px;

        svg {
            width: 18px;
            height: 18px;
        }
    }
}
