@use '@/styles/mixins' as *;

.textAreaBlock {
    width: 100%;
    position: relative;
    height: auto;
}

.textAreaWrapper {
    position: relative;

    textarea {
        width: 100%;
        padding: 10px 8px;
        background-color: var(--bgColor);
        height: 150px;
        border-radius: var(--borderRadius);
        resize: none;
    }
}
