.categoryLink {
    &:not(.text) {
        background-color: var(--white);
        border-radius: 50%;
        box-shadow: var(--boxShadow);
        overflow: hidden;

        svg {
            fill: var(--accent);
        }

        &.default {
            width: 24px;
            height: 24px;
            min-width: 24px;

            svg {
                width: 14px;
                height: 14px;
                min-width: 14px;
            }
        }

        &.large {
            width: 36px;
            height: 36px;
            min-width: 36px;

            svg {
                width: 20px;
                height: 20px;
                min-width: 20px;
            }
        }
    }

    &.text {
        width: auto;
        display: inline;
    }
}
