@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.toggleLeftMenuButtonWrapper {
    position: absolute;
    width: 50px;
    height: 50px;
    top: calc(50% - 25px);
    right: -25px;
    z-index: 1;
    background-color: $bgColorLight;
    border-radius: 50%;
    box-shadow: $boxShadow;
    cursor: pointer;

    @include media(md) {
        display: none !important;
    }

    svg {
        width: 24px;
        height: 24px;
        fill: $accent;
        stroke: $accent;
        position: relative;
        right: -10px;
        transition: transform 0.3s ease-in-out;
        transform: rotate(-180deg);

        &.opened {
            transform: rotate(0);
        }
    }
}
