@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.mainWrapper {
    position: relative;
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;

    @include media(desctop) {
        max-width: 1600px;
    }

    @include media(xxxl) {
        max-width: 1400px;
    }

    @include media(xxl) {
        max-width: 1100px;
    }
    @include media(xl) {
        max-width: 900px;
    }
}
