@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.leftMenuWrapper {
    width: 60px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: $boxShadow;
    z-index: 51;

    @include media(lg) {
        width: 45px;
    }

    @include media(md) {
        height: calc(100vh - 50px);
        top: 50px;
        width: 300px;
        background-color: rgba($bgColorLight, 0.9);
        left: -100%;
        transition: left 0.3s ease-in-out;
    }

    &.opened {
        width: 200px;

        @include media(md) {
            width: 300px;
            left: 0;
        }
    }
}

.logo {
    height: 60px;
    background-color: $bgColor;
}

.logoText {
    width: 100%;
    height: 50px;
    background-color: $bgColor;
    text-align: center;
    font-size: 14px;
    padding: 0 10px 10px;
}

.searchForm {
    width: 100%;
    background-color: $bgColor;

    @include media(md) {
        height: 60px;
        padding: 0 10px;

        input {
            height: 35px;
        }
    }
}

.menuList {
    height: calc(
        //100vh - ${({ isLeftMenuOpened }) => (isLeftMenuOpened ? 110 : 60)}px
    );
	
    @include media(md) {
        height: calc(
            //100vh - ${({ isLeftMenuOpened }) => (isLeftMenuOpened ? 160 : 100)}px
        );
        margin: 0;
        padding: 0;
    }
}

.menuFooter {
    background-color: $bgColor;
}
