@use '@/styles/mixins' as *;

.archivePromoSectionWrapper {
    display: flex;
    align-items: stretch;
    gap: var(--gapDesktop);
    width: 100%;
    padding: 30px;
    border-radius: var(--borderRadius);
    box-shadow: var(--elemShadow);
    background-color: var(--bgColorSecondary);
    overflow: hidden;

    @include media(xxl) {
        flex-direction: column;
    }

    @include media(xl) {
        flex-wrap: wrap;
        padding: 24px;
    }

    @include media(sm) {
        padding: 16px;
        gap: var(--gapBlock);
    }
}
