@use '@/styles/mixins' as *;

.archivePromoSectionWrapper {
    display: flex;
    width: 100%;
    gap: var(--gapDesktop);
    padding: 16px;
    border-radius: var(--borderRadius);
    box-shadow: var(--elemShadow);
    background-color: var(--bgColorSecondary);
    overflow: hidden;

    @include media(xxl) {
        flex-direction: column;
        padding: 24px;
    }

    @include media(xl) {
        flex-wrap: wrap;
    }

    @include media(sm) {
        padding: 16px;
        gap: var(--gapBlock);
    }

    .archivePromoIntro {
        width: 40%;
        
        @include media(xxl) {
            width: 100%;
        }
    }
    
    .archivePromoGallery{
        width: 56%;
        
        @include media(xxl) {
            width: 100%;
        }
    }
}
