@use '@/styles/mixins' as *;

.toggle {
    display: none;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 100%;
    color: var(--textColor);

    @include media(lg) {
        display: flex;
    }

    svg {
        width: 24px;
        height: 24px;
    }

    &.opened {
        background-color: var(--bgColorDark);
        color: var(--white);
    }

    &:hover {
        &:not(.opened) {
            background-color: rgba(var(--bgColorDark), 0.6);
        }
    }
}

.panel {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: var(--gapBlock);
    width: 300px;
    max-width: calc(100% - 40px);
    height: 100%;
    padding: var(--gapBlock);
    background-color: var(--bgColor);
    box-shadow: var(--boxShadow);
    overflow: auto;

    &:focus {
        outline: none;
    }
}

.drawerSearch {
    display: none;
    width: 100%;

    @include media(md) {
        display: block;
    }
}

.drawerEmail {
    display: none;
    margin-top: auto;

    @include media(md) {
        display: block;
    }
}
