@use '@/styles/mixins' as *;

.postShortCardWrapper {
    width: 100%;
    height: auto;
    max-height: 140px;
    background-color: var(--bgColorSecondary);
    position: relative;
    display: flex;
    flex-direction: row;
    border-radius: var(--borderRadius);
    overflow: hidden;
    box-shadow: var(--boxShadow);

    &:hover {
        box-shadow: none;
    }

    @include media(xxl) {
        max-height: 170px;
    }
}

.thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 33%;
    height: 100%;
    overflow: hidden;
    text-decoration: unset;
}

.content {
    width: 67%;
    margin-left: auto;
    padding: 10px;
    position: relative;
    gap: 8px 0;

    &.pb {
        padding-bottom: 30px;
    }
}

.thumbHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date {
    font-size: 13px;
    opacity: 0.6;
}

.categories {
    display: flex;
    align-items: center;
    gap: 0 6px;
}

.title {
    font-size: 13px;
    line-height: 16px;
    display: block;
}

.author {
    position: absolute;
    right: 0;
    bottom: 10px;
    padding: 0 10px;
    opacity: 0.4;
    font-size: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 80%;
    overflow: hidden;
}
