.loginWidgetWrapper {
    position: relative;
    padding-top: 40px;
    margin-top: 20px;
}

.logoWrapper {
    height: auto;
    position: absolute;
    top: -27px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: var(--bgColorSecondary);
    width: fit-content;
    border-radius: 50%;
    padding: 6px;
}

.logo {
    width: 54px;
    height: 54px;
    position: relative;
    margin: 0 auto;
    border-radius: 50%;

    svg {
        width: 50px;
        height: 50px;
        filter: var(--svgShadow);
    }
}

.titleWrapper {
    width: 100%;
    display: flex;
    gap: 4px 0;
    text-align: center;

    .title {
        font-size: 16px;
        font-weight: 600;
        color: var(--white);
    }

    .subTitle {
        color: var(--accent);
    }
}

.content {
    font-size: 13px;
    color: rgba(var(--textColor), 0.8);
}

.button {
    padding-bottom: 4px;
}
