.mainLayoutWrapper {
    width: 100%;
    height: auto;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-template-columns: 300px 1fr 600px;
    gap: 20px 20px;
    padding: 20px 40px;
    position: relative;
}

.menu {
    position: sticky;
    top: 80px;
    height: fit-content;
}

.content {
    height: auto;
}
