@use '@/styles/mixins' as *;

.archivePromoGalleryWrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    
    @include media(lg) {
        flex-wrap: wrap;
        min-height: 0;
    }
}

.thumbsWrapper {
    width: 64px;
    min-width: 64px;
    gap: 8px;

    @include media(lg) {
        width: 100%;
        flex-direction: row;
        overflow-x: auto;
    }
}

.archivePromoFeatured {
    width: 100%;
}

.thumb {
    width: 64px;
    height: 64px;
    min-width: 64px;
    padding: 0;
    border: 2px solid transparent;
    border-radius: var(--borderRadius);
    box-shadow: var(--elemShadow);
    cursor: pointer;

    @include media(lg) {
        width: 56px;
        height: 56px;
        min-width: 56px;
    }

    &.thumbSelected {
        border-color: var(--accent);
    }
}


