@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.verticalMenuItemWrapper {
    width: 100%;
    height: 43px;
    position: relative;
    border-radius: $borderRadius;

    &:hover {
        a {
            background-color: $accent;
            color: $white;
            text-decoration: none;

            .icon {
                animation: jump 0.3s ease-in-out;

                svg {
                    fill: $white;
                }
            }
        }
    }

    &.border {
        padding-bottom: 16px;
        margin-bottom: 16px;

        &:after {
            content: '';
            position: absolute;
            width: 80%;
            height: 1px;
            left: 0;
            bottom: -8px;
            display: block;
            background-color: rgba($color, 0.2);
        }
    }

    a {
        position: absolute;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
        padding: 0 20px 0 60px;
        background-color: transparent;
        text-decoration: unset;
        border-radius: $borderRadius;

        @include media(desctop) {
            padding: 0 16px 0 40px;
        }

        &.current {
            background-color: rgb($accent, 0.6);

            &:after {
                display: none;
            }
        }

        .icon {
            width: 60px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            padding-right: 4px;

            @include media(desctop) {
                width: 40px;
            }

            svg {
                width: 20px;
                height: 20px;
                fill: $color;

                @include media(desctop) {
                    position: relative;
                    top: -1px;
                }
            }
        }
    }

    @keyframes jump {
        0% {
            top: 0;
        }
        50% {
            top: -10px;
        }
        100% {
            top: 0;
        }
    }
}
