.commonLayoutWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--gapDesktop);
    padding: 90px 0 var(--gapDesktop);
    width: 100%;
    height: auto;
    position: relative;
}

.menu {
    flex: 0 0 200px;
    width: 200px;
    position: sticky;
    top: 90px;
    height: fit-content;
    max-height: 80vh;
    overflow: auto;
}

.content {
    flex: 1 1 auto;
    min-width: 0;
    height: auto;
}

.sidebar {
    flex: 0 0 280px;
    width: 280px;
}
