@use '@/styles/mixins' as *;

.commonLayoutWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--gapDesktop);
    padding: 90px 0 var(--gapDesktop);
    width: 100%;
    height: auto;
    position: relative;
}

.menu {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 200px;
    width: 200px;
    position: sticky;
    top: 90px;
    height: fit-content;
    max-height: 80vh;
    overflow: auto;

    @include media(lg) {
        display: none;
    }
}

.content {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    min-width: 0;
    height: auto;
}

.sidebar {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 280px;
    width: 280px;

    @include media(xl) {
        position: fixed;
        top: 60px;
        right: 0;
        z-index: calc(var(--zIndexMenu) - 1);
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: auto;
        width: 300px;
        height: calc(100dvh - 60px);
        padding: var(--gapBlock);
        background-color: var(--bgColor);
        box-shadow: var(--boxShadow);
        overflow: auto;
        transform: translateX(100%);
        visibility: hidden;
        pointer-events: none;
        transition: transform 0.3s ease;

        &.open {
            transform: translateX(0);
            visibility: visible;
            pointer-events: auto;
        }

        &:focus {
            outline: none;
        }
    }
}
