@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.tagButtonWrapper {
    height: 40px;
    border-radius: $borderRadius;
    word-break: break-word;
    padding: 10px;
    background-color: rgba($accent, 0.3);

    &:hover {
        opacity: 0.8;
    }
}
