@use 'sass:map';

$colors: (
    white: #ffffff,
    black: #000000,
    textColor: #a8b6bb,
    colorPrimary: #0bb197,
    colorSecondary: #74788d,
    accent: #cf304d,
    bgColor: #303841,
    bgColorSecondary: #283039,
    bgColorDark: #21282f,
    blockQuoteBg: #272a31,
    grayDark: #1f2426,
    error: #8a4139,
    correct: #267873,
    info: #21495a,
    active: #1f2329,
);

$defaultThemeSettings: (
    boxShadow: 0 5px 12px rgba(map.get($colors, black), 0.1),
    elemShadow: rgba(map.get($colors, black), 0.24) 0px 3px 8px,
    textShadow: 1px 1px 2px map.get($colors, black),
    svgShadow: drop-shadow(1px 1px 0px rgba(map.get($colors, black), 0.5)),
    loadingGradient: linear-gradient(
            90deg,
            map.get($colors, bgColor),
            map.get($colors, bgColorSecondary),
            map.get($colors, bgColor)
        ),
    borderRadius: 8px,
    border: 1px solid rgba(map.get($colors, textColor), 0.05),
    borderError: 1px solid rgba(map.get($colors, error), 0.6),
    zIndexPopup: 70,
    zIndexMenu: 50,
    gapDesktop: 30px,
    gapBlock: 20px,
);

$defaultTheme: map.merge($colors, $defaultThemeSettings);

$breakpoints: (
    xxs: 340px,
    xs: 420px,
    sm: 576px,
    md: 768px,
    xmd: 890px,
    lg: 992px,
    xl: 1200px,
    xxl: 1500px,
    xxxl: 1700px,
    desktop: 2200px,
);
