@use '@/styles/mixins' as *;

.headerWrapper {
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    background-color: var(--bgColor);
    z-index: var(--zIndexMenu);
}

.scrolled {
    box-shadow: var(--boxShadow);
}

.mainWrapper {
    height: 100%;
    display: flex;
    gap: 0 40px;

    > * {
        height: 100%;
    }

    @include media(lg) {
        gap: 0 12px;
    }
}

.headerSearch {
    display: flex;
    align-items: center;
    flex-shrink: 0;

    @include media(md) {
        display: none;
    }
}

.headerEmail {
    display: flex;
    align-items: center;
    white-space: nowrap;

    @include media(lg) {
        margin-left: auto;
    }

    @include media(md) {
        display: none;
    }
}

.mr {
    margin-right: auto;

    @include media(xl) {
        margin-right: 0;
    }
}

.ml {
    margin-left: auto;
}
