@use '@/styles/mixins' as *;

.intro {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 340px;
    min-width: 0;
    z-index: 1;

    @include media(xxl) {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 100%;
    }
}

.title {
    color: var(--white);
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;

    @include media(lg) {
        font-size: 28px;
        line-height: 36px;
    }

    @include media(sm) {
        font-size: 24px;
        line-height: 30px;
    }
}

.breadcrumbs {
    margin-top: var(--gapBlock);
}

.description {
    margin-top: 16px;
    color: var(--textColor);
    font-size: 14px;
    line-height: 22px;
}

.archivePromoTitle {
    em,
    strong,
    span {
        display: block;
        color: var(--accent);
        font-style: normal;
        font-weight: 700;
    }
}

.archivePromoLead {
    strong,
    b,
    em {
        color: var(--white);
        font-style: normal;
        font-weight: 600;
    }
}

.actions {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gapBlock);
    margin-top: auto;

    @include media(xxl) {
        margin-top: 16px;
    }
}

.iconButton {
    width: 42px;
    height: 42px;
    min-width: 42px;
    padding: 0;
    border-radius: 50%;
    box-shadow: var(--elemShadow);
    color: var(--white);
    cursor: pointer;

    svg {
        width: 22px;
        height: 22px;
    }

    &:hover {
        opacity: var(--hoverOpacity);
    }
}

.copyButton {
    background-color: var(--colorPrimary);
}

.reviewButton {
    background-color: var(--accent);
}
