.content {
    width: 100%;
    text-align: center;
}

.buttonsList {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0 20px;
    margin-top: 30px;

    button {
        width: fit-content;
        padding: 0 16px;
        min-width: 100px;
        display: flex;
        align-items: center;
        gap: 0 6px;
        font-size: 18px;

        svg {
            width: 18px;
            height: 18px;
            position: relative;
            top: -2px;
        }

        &.decline {
            background-color: var(--error);
        }

        &.accept {
            background-color: var(--correct);
        }
    }
}
