@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.tableWrapper {
    position: relative;
    overflow: hidden;
    border-radius: $borderRadius;
    width: 100%;
    height: auto;
    border: $border;
}

.tableHeader {
    width: 100%;
    height: auto;

    th {
        color: $color;
        font-weight: 400;
        text-align: left;
        background-color: $bgColorDark;
    }
}

.tableRowWrapper {
    width: 100%;
    height: auto;
    background-color: $bgColorSecondary;

    &:last-child {
        border-bottom: none;
    }

    > * {
        height: auto;
        min-height: 42px;
        padding: 10px 20px;
        border-right: 1px solid rgba($color, 0.2);
        font-size: 16px;

        &:last-child {
            border-right: none;
        }
    }
}

tbody {
    .tableRowWrapper {
        &:nth-child(even) {
            background-color: rgba($bgColorSecondary, 0.4);
        }

        &:hover {
            background-color: $active;
        }
    }
}
