@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.tableWrapper {
    position: relative;
    overflow: hidden;
    border-radius: $borderRadius;
    width: 100%;
    height: auto;
    border: $border;
    table-layout: fixed;
    overflow-wrap: break-word;
}

.tableHeader {
    width: 100%;
    height: auto;

    th {
        color: $color;
        font-weight: 400;
        text-align: left;
        background-color: $bgColorDark;
        vertical-align: middle;
        font-size: 14px;
        line-height: 17px;
    }
}

.tableRowWrapper {
    width: 100%;
    height: auto;
    background-color: $bgColorSecondary;

    &:last-child {
        border-bottom: none;
    }

    > * {
        height: auto;
        min-height: 42px;
        padding: 10px 15px;
        border-right: 1px solid rgba($color, 0.2);
        font-size: 16px;

        @include media(desctop) {
            padding: 10px;
        }

        &:last-child {
            border-right: none;
        }
    }
}

tbody {
    .tableRowWrapper {
        &.checked {
            background-color: $active;
        }

        &:nth-child(even) {
            &:not(.checked) {
                background-color: rgba($bgColorSecondary, 0.4);

                &:hover {
                    background-color: $active;
                }
            }
        }

        &:hover {
            background-color: $active;
        }

        td {
            vertical-align: middle;
            font-size: 13px;
        }
    }
}
