@use '@/styles/mixins' as *;

.featuredWrap {
    display: flex;
    height: auto;
}

.cover {
    height: 100%;
    width: 40%;
    border-radius: var(--borderRadius) 0 0 var(--borderRadius);
}

.featured {
    gap: 16px;
    width: 60%;
    padding: 16px;
    background-color: var(--bgColorDark);
    border-radius: 0 var(--borderRadius) var(--borderRadius) 0;
    z-index: 1;
}

.featuredTitle {
    color: var(--white);
    line-height: 20px;
    font-weight: 700;
}

.meta {
    gap: 8px;
    margin: 0;
}

.metaRow {
    display: flex;
    flex-wrap: wrap;
    gap: 6px 8px;
    font-size: 13px;
    line-height: 18px;
}

.metaLabel {
    color: var(--colorSecondary);

    &:after {
        content: ':';
    }
}

.metaValue {
    margin: 0;
    color: var(--white);
}

.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.excerpt {
    display: -webkit-box;
    color: var(--textColor);
    font-size: 13px;
    line-height: 19px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

.readWrap {

}

.readButton {
    margin-top: auto;
    width: auto;
}
