.buttonsGroupWrapper {
    width: 100%;
    height: auto;
    display: flex;
    border-radius: var(--borderRadius);
    overflow: hidden;
    border: var(--border);
}

.tabButton {
    width: fit-content;
    height: 42px;
    background-color: var(--bgColorSecondary);
    padding: 0 16px;
    display: flex;
    align-items: center;
    gap: 0 10px;
    border-right: var(--border);

    &:last-child {
        border-right: none;
    }

    &:hover {
        &:not(.active) {
            opacity: var(--hoverOpacity);
        }
    }

    svg {
        width: 20px;
        min-width: 20px;
        height: 20px;
        stroke: var(--textColor);
    }
}

.active {
    color: rgba(var(--textColor), 0.6);
    background-color: var(--active);
    cursor: default;

    &:hover {
        opacity: 1;
    }
}

.fullWidth {
    width: 100%;
}
