.popularTagsWrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
}

.tagButton {
    margin: 0 10px 10px 0;
    border: var(--border);
    padding: 6px 10px;
    border-radius: var(--borderRadius);

    &:hover {
        background-color: var(--bgColorDark);
    }
}
