@use '@/styles/mixins' as *;

.nav {
    width: 100%;
    
    @include media(sm) {
        line-height: 22px;
    }
}

.list {
    width: 100%;
}

.item {
    display: inline;
}

.separator {
    white-space: pre;
}
