@use '@/styles/variables' as *;

.authLayout {
    grid-template-columns: 10vw 600px 1fr;
}

.leftSide {
    background-color: $bgColorDark;
}

.thumb {
    height: auto;
    min-height: 100vh;
}

.content {
    padding: $gapDesctop;
}
