@use '@/styles/variables' as *;

.inputBlock {
    width: 100%;
    position: relative;
    height: auto;
}

.label {
    margin-bottom: 6px;

    span {
        margin-left: 4px;
        padding-bottom: 4px;
    }
}

.inputWrapper {
    position: relative;

    input {
        width: 100%;
        padding: 0 8px;

        &.main {
            background-color: red;
            height: 42px;
            border-radius: $borderRadius;
        }
    }

    &.password {
        input {
            padding-right: 50px;
        }
        button {
            position: absolute;
            right: 0;
            top: 0;
            width: 42px;
            height: 100%;
            border-radius: $borderRadius;
            background-color: red;
            box-shadow: $boxShadow;

            svg {
                width: 20px;
                height: 20px;
            }
        }
    }
}

.error {
    font-size: 12px;
    color: $error;
    margin-top: 3px;
}
