.inputBlock {
    width: 100%;
    position: relative;
    height: auto;
}

.inputWrapper {
    position: relative;

    input {
        width: 100%;
        padding: 0 8px;

        &.main {
            background-color: var(--bgColor);
            height: 42px;
            border-radius: var(--borderRadius);
        }
    }

    &.password {
        input {
            padding-right: 50px;
        }

        button {
            position: absolute;
            right: 0;
            top: 0;
            width: 42px;
            height: 100%;
            border-radius: var(--borderRadius);
            background-color: var(--textColor);

            svg {
                width: 24px;
                height: 24px;
                fill: var(--bgColor);
            }
        }
    }
}
