@use '@/styles/mixins' as *;

.mainLogoWrapper {
    width: 50px;
    height: auto;
    position: relative;
    z-index: 1;

    &:hover {
        svg {
            animation: rotate 0.5s linear infinite;
        }
    }
    
    svg {
        width: 40px;
        height: 40px;
        fill: var(--accent);

        @include media(lg) {
            width: 30px;
            height: 30px;
            margin-bottom: 0;
        }
    }

    a {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 2;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
