.tabsWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.headLine {
    display: flex;
    border-bottom: var(--border);
    background-color: var(--bgColorSecondary);
}

.fullWidth {
    width: 100%;

    .tabButton {
        width: 100%;
    }
}

.tabButton {
    width: fit-content;
    height: 46px;
    padding: 0 16px;
    background-color: var(--bgColorSecondary);

    &.active {
        background-color: var(--bgColor);
        cursor: default;
    }
}

.bodyLine {
    padding: 24px;
}
