@use '@/styles/variables' as *;

.usersTableWrapper {
    gap: 30px 0;
}

.buttonsLine {
    width: fit-content;
    display: flex;
    gap: 0 16px;

    button {
        width: fit-content;

        &.delete {
            background-color: $error;
        }

        &.update {
            background-color: $info;
        }
    }
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: $borderRadius;
}
