.buttonsLine {
    width: fit-content;
    display: flex;
    gap: 0 16px;

    button {
        width: fit-content;

        &.delete {
            background-color: var(--error);
        }

        &.update {
            background-color: var(--info);
        }
    }
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: var(--borderRadius);
}
