@use '@/styles/mixins' as *;

.blockWrapper {
    padding: 20px;
    border-radius: var(--borderRadius);
    background-color: var(--bgColorSecondary);

    @include media(xl) {
        padding: 16px;
    }
}
