.blockWrapper {
    gap: 16px 0;
}

.pageTitle {
    color: var(--accent);
    font-size: 20px;
    margin-bottom: 0;
    font-weight: 400;
}

.cronInfoWrapper {
    gap: 20px 0;
}

.cronInfoBlock {
    display: flex;
    gap: 0 20px;
    font-size: 18px;

    & > * {
        position: relative;
        display: flex;
        align-items: center;

        &:after {
            content: '';
            width: 1px;
            height: 60%;
            position: absolute;
            right: -10px;
            top: 20%;
            display: block;
            background-color: var(--white);
        }

        &:last-child,
        &:first-child {
            &:after {
                display: none;
            }
        }
    }

    &.error {
        .value {
            color: var(--error);
        }
    }
}

.label {
    font-weight: 600;
}

.value {
    color: var(--correct);
}

.updateCronInfoButton {
    height: 30px;
    width: 30px;

    svg {
        width: 18px;
        height: 18px;
    }
}
