@use '@/styles/mixins' as *;

.bodyWrapper {
    width: 100%;
}

.modalContent {
    width: 100%;
}

.labelWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0 10px;
    font-size: 18px;

    svg {
        width: 20px;
        height: 20px;
        min-width: 20px;
    }
}

.noData {
    height: 100%;
}

.dataList {
    width: 100%;
}

.yearWrapper {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 20px;

    &:first-child {
        margin-top: 0;
    }
}

.yearTitle {
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--white);
    margin-bottom: 15px;

    svg {
        width: 16px;
        height: 16px;
        stroke: var(--accent);
        fill: var(--accent);
        margin-right: 8px;
    }

    .label {
        line-height: 1;
    }
}

.yearList {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        left: 7px;
        top: -8px;
        height: 100%;
        width: 1px;
        background-color: var(--accent);
        opacity: 0.6;
        display: block;
    }
}

.thumb {
    width: 32%;
    margin-right: 2%;
    margin-bottom: 16px;

    &:nth-child(3n) {
        margin-right: 0;

        @include media(xl) {
            margin-right: 2%;
        }

        @include media(md) {
            margin-right: 0;
        }
    }

    &:nth-child(2n) {
        @include media(xl) {
            margin-right: 0;
        }
    }

    @include media(xl) {
        width: 49%;
        margin-right: 2%;
    }

    @include media(md) {
        width: 100%;
        margin-right: 0;
    }
}
