@use '@/styles/variables' as *;

.resetPasswordFormWrapper {
    gap: 20px 0;
}

.infoBlock {
    a {
        text-decoration: underline;
        display: inline;
    }
}

.button {
    margin-left: auto;
}
