@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.textAreaBlock {
    width: 100%;
    position: relative;
    height: auto;
}

.textAreaWrapper {
    position: relative;

    textarea {
        width: 100%;
        padding: 10px 8px;
        background-color: $bgColor;
        height: 150px;
        border-radius: $borderRadius;
        resize: none;
        border: $border;

        &.error {
            border: $borderError;
        }
    }
}
