.button {
    width: 100%;
    height: 42px;
    border-radius: var(--borderRadius);
    box-shadow: var(--elemShadow);
    background-color: transparent;
    color: var(--white);
    cursor: pointer;
    position: relative;
    padding: 0 20px;

    &:hover {
        &:not(:disabled):not(.loading) {
            opacity: var(--hoverOpacity);
        }
    }

    &:disabled {
        opacity: var(--disabledOpacity);
    }

    &.loading {
        opacity: var(--disabledOpacity);
    }

    &.hasIcon {
        padding-left: 44px;
    }
}

.primary {
    background-color: var(--colorPrimary);
}

.accent {
    background-color: var(--accent);
}

.secondary {
    background-color: var(--colorSecondary);
}

.secondarySmall {
    height: 34px;
    background-color: var(--colorSecondary);
}

.link {
    height: fit-content;
    width: fit-content;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
    color: var(--colorPrimary);
    text-decoration: underline;
}

.icon {
    position: absolute;
    width: 30px;
    height: 100%;
    left: 8px;
    top: 0;

    svg {
        width: 22px;
        height: 22px;
        color: var(--white);
    }
}

.sq,
.sq_error,
.sq_info {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--info);
    padding: 0;

    svg {
        width: 18px;
        height: 18px;
    }
}

.sq_error {
    background-color: var(--error);
}

.sq_info {
    background-color: var(--info);
}

.spinnerWrapper {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
}
