.modalLayout {
    gap: var(--gapDesktop);
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 0 var(--gapDesktop);

    > * {
        width: 100%;

        &.avatarBlock {
            width: 60%;
        }
    }
}

.block {
    position: relative;
    gap: 10px 0;
    height: auto;
}

.avatarBlock {
    gap: 20px 0;

    a {
        width: 100%;
        font-size: 16px;
        font-weight: 600;
    }
}

.avatar {
    height: 100%;
    border-radius: var(--borderRadius);
    overflow: hidden;
    min-height: 200px;
}

.country {
    position: absolute;
    z-index: 2;
    top: 20px;
    right: 20px;
}
